

<td>
 <h4 text-align= "center"><%= line_item.product.name%></h4>
 </td>
     <tr>
  <td>

    <img  height="200px" width="200px" src = "<%=line_item.product.image%>"
 
  </td>
  <td>

  
  
   <%=line_item.product.description%>
 
  </td>
  <td>
  <%=line_item.product.price%>
</td>
  <td>
  Quantity: <%= line_item.quantity%>
  </td>


 
</tr>

